@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

* {
	box-sizing: border-box;
}

body {
	background-color: #edeff2;
	font-family: "Nanum Gothic", "Calibri", "Roboto", sans-serif;
}

.chat_window {
	position: absolute;
	width: calc(100% - 20px);
	max-width: 450px;
	height: 600px;
	border-radius: 10px;
	background-color: #ffffff;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

.top_menu {
	background-color: #fff;
	width: 100%;
	padding: 20px 0 15px;
	border-bottom: 1px solid #d2d2d6;
}
.top_menu .buttons {
	margin: 3px 0 0 20px;
	position: absolute;
}
.top_menu .buttons .button {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
.top_menu .buttons .button.close {
	background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
	background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
	background-color: #a3d063;
}
.top_menu .title {
	text-align: center;
	color: #272728;
	font-family: "Nanum Gothic";
	font-weight:600;
	font-size: 20px;
}

.roomMessages {
	position: relative;
	list-style: none;
	padding: 30px 20px 0 20px;
	margin: 0;
	height: 462px;
	overflow-y: scroll;
	overflow-x : hidden;
}
.roomMessages .message {
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	transition: all 0.5s linear;
	opacity: 0;
}
.roomMessages .message.left .avatar {
	background-color: #f5886e;
	float: left;
}
.roomMessages .message.left .text_wrapper {
	background-color: #ffe6cb;
	margin-left: 20px;
}
.roomMessages .message.left .text_wrapper::after,
.roomMessages .message.left .text_wrapper::before {
	right: 100%;
	border-right-color: #ffe6cb;
}
.roomMessages .message.left .text {
	color: #c48843;
}
.roomMessages .message.right .avatar {
	background-color: #fdbf68;
	float: right;
}
.roomMessages .message.right .text_wrapper {
	background-color: #c7eafc;
	margin-right: 20px;
	float: right;
}
.roomMessages .message.right .text_wrapper::after,
.roomMessages .message.right .text_wrapper::before {
	left: 100%;
	border-left-color: #c7eafc;
}
.roomMessages .message.right .text {
	color: #45829b;
}
.roomMessages .message.appeared {
	opacity: 1;
}
.roomMessages .message .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: inline-block;
}
.roomMessages .message .text_wrapper {
	display: inline-block;
	padding: 20px;
	border-radius: 6px;
	width: calc(100% - 85px);
	min-width: 100px;
	position: relative;
}
.roomMessages .message .text_wrapper::after,
.roomMessages .message .text_wrapper:before {
	top: 18px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.roomMessages .message .text_wrapper::after {
	border-width: 13px;
	margin-top: 0px;
}
.roomMessages .message .text_wrapper::before {
	border-width: 15px;
	margin-top: -2px;
}
.roomMessages .message .text_wrapper .text {
	font-size: 18px;
	font-weight: 300;
}

.bottom_wrapper {
	position: relative;
	width: 100%;
	background-color: #fff;
	padding: 10px 10px;
	position: absolute;
	bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
	display: inline-block;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #bcbdc0;
	width: calc(100% - 160px);
	position: relative;
	padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
	border: none;
	height: 100%;
	box-sizing: border-box;
	width: calc(100% - 40px);
	position: absolute;
	outline-width: 0;
	color: gray;
}
.bottom_wrapper .send_message {
	width: 140px;
	height: 50px;
	display: inline-block;
	border-radius: 50px;
	background-color: #a3d063;
	border: 2px solid #a3d063;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s linear;
	text-align: center;
	float: right;
}
.bottom_wrapper .send_message:hover {
	color: #a3d063;
	background-color: #fff;
}
.bottom_wrapper .send_message .text {
	font-size: 18px;
	font-weight: 300;
	display: inline-block;
	line-height: 48px;
}

.message_template {
	display: none;
}

.roomMessages > li{
	font-size: 15px;
}

.roomMessages > li.name{
	color: rgba(18, 18, 18, 0.97);
	margin-bottom: 8px;
}

.roomMessages > li.content{
	line-height: 15px;
	color: rgba(58, 58, 57, 0.97);
	border-radius: 10px;
	border: 1px solid #cacbce;
	padding: 10px 15px;
	margin-bottom: 20px;
}

.roomMessages > span {
	font-size: 10px;
	font-style: italic;
}