---
- name: Install MongoDB
  hosts: mongodb
  become: yes
  vars:
    redis_port: 6379
    redis_databases: 1

  tasks:
    - name : install epel-release
      action: "{{ ansible_pkg_mgr }} name=epel-release state=latest"

    - name : add repository
      yum_repository:
        name: "mongodb-org-4.2"
        description: "MongoDB Repository"
        baseurl: https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/4.2/x86_64/
        gpgcheck: yes
        enabled: yes
        gpgkey: https://www.mongodb.org/static/pgp/server-4.2.asc
        file: mongodb-org-4.2

    - name : install MongoDB
      action : "{{ ansible_pkg_mgr }} name=mongodb-org state=latest"

    - name: mongo conf copy
        template:
          src: mongodd.j2
          dest: /etc/mongod.conf

      #bind 되는 IP 0.0.0.0 으로 설정해줘야함

    - name : start mongodb
      service : name=mongod state=started
