---
- name: Install Redis
  hosts: redisServer
  become: yes
  vars:
    redis_port: 6379
    redis_databases: 1

  tasks:
    - name : install epel-release
      action: "{{ ansible_pkg_mgr }} name=epel-release state=latest"
    - name : install redis
      action : "{{ ansible_pkg_mgr }} name=redis state=latest"

    - name: redis conf copy
        template:
          src: redis.conf
          dest: /etc/redis.conf
          owner: root
          group: root
          mode: 0644

    - name : start redis-server
      service : name=redis state=started
